@use '../../../../styles/helpers' as *;

.header-guest {
    padding-top: rem(30);

    &__body {
        position: relative;
    }

    &__decor {
        position: absolute;
        z-index: -999;

        &--1 {
            bottom: -100%;
            left: -10%;
        }

        &--2 {
            bottom: -80%;
            right: -10%;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__overlay {
        z-index: 1000;
        @include mobile-above {
            display: contents;
        }

        @include mobile {
            position: fixed;
            inset: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 3rem;
            padding: 1rem;
            background-color: var(--color-dark-light);
            transition-duration: var(--transition-duration);

            &:not(.is-active) {
                @include hide;

                translate: 100%;
            }
        }
    }

    &__menu {
        @include mobile {
            overflow-y: auto;
        }

        &-list {
            display: flex;
            align-items: center;
            column-gap: rem(47);
            font-weight: 600;

            @include laptop {
                column-gap: rem(35);
            }

            @include tablet {
                column-gap: rem(30);
            }

            @include mobile {
                flex-direction: column;
                row-gap: rem(12);
            }
        }

        &-link {
            display: inline-flex;
            align-items: center;
            height: rem(40);
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: rem(4);
                border-radius: rem(2);
                background-color: currentColor;
                top: calc(100% - #{rem(8)});
                left: 50%;
                translate: -50%;
                opacity: 0;
                transition-duration: inherit;
            }

            @include hover {
                &::after {
                    width: 20%;
                    opacity: 1;
                }
            }

            &.is-active {
                position: relative;
                color: var(--color-accent);

                &::after {
                    opacity: 1;
                    width: 20%;
                }

            }
        }
    }

    &__link {
        padding-inline: calc(rem(25) - rem(1));

        @include mobile {
            padding-inline: calc(rem(18) - rem(1));
            padding-block: calc(rem(17) - rem(1));
        }
    }
}