@use '../../../styles/helpers' as *;

.security-and-privacy {
    &__body {
        display: flex;
        flex-direction: column;
        row-gap: rem(40);
        align-items: center;

        @include laptop {
            row-gap: rem(30);
        }
    }

    &__title {
        text-align: center;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(20);
        width: 100%;

        @include tablet {
            grid-template-columns: repeat(1, 1fr);
            gap: rem(15);
        }

        @include mobile {
            gap: rem(12);
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            text-align: center;
            row-gap: rem(15);
            width: 100%;
            max-width: rem(536);

            &:first-child {
                justify-self: center;
                grid-column: 1 / -1;
            }

            &:nth-child(2) {
                justify-self: start;
            }

            &:nth-child(3) {
                justify-self: end;
            }

            svg {
                flex-shrink: 0;
                fill: currentColor;

                @include mobile {
                    width: #{rem(50)};
                    height: #{rem(50)};
                }
            }

            @include tablet {
                row-gap: rem(8);

                &:first-child {
                    justify-self: center;
                }

                &:nth-child(2) {
                    justify-self: center;
                }

                &:nth-child(3) {
                    justify-self: center;
                }
            }

            @include mobile {
                row-gap: rem(5);
            }
        }

        &-item-body {
            display: contents;
        }
    }
}