@use '../../styles/helpers' as *;


.puddle-bg {
  --backgroundPuddleBg: rgba(255, 255, 255, 0.35);

  background: var(--backgroundPuddleBg);
  padding-inline: rem(10);
  padding-block: rem(5.5);
  border-radius: rem(20);
  font-size: rem(14);
}