@use '../../styles/helpers' as *;
.profile-card-button {
  --ShadoButtonViewProfile: 0 0 15px 1px rgba(0, 0, 0, 0.08);

    border: none;
    background: var(--color-light);
    width: rem(65);
    height: rem(65);
    border-radius: 50%;
    box-shadow: var( --ShadoButtonViewProfile);

    &--like {
      background: var(--color-accent);
      width: rem(110);
      height: rem(110);
    }
}