@use '../../styles/helpers' as *;

.footer {
    background: var(--color-dark-light);

    &__body {
        padding-block: rem(185);

        @include laptop {
            padding-block: rem(140);
        }

        @include tablet {
            padding-block: rem(100);
        }

        @include mobile {
            padding-block: rem(80);
        }

        @include mobile-s {
            padding-block: rem(60);
        }
    }

    &__menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            row-gap: rem(30);
        }

        @include mobile-s {
            grid-template-columns: repeat(1, 1fr);
            row-gap: rem(20);
        }

        &-column {
            display: flex;
            flex-direction: column;
            row-gap: rem(15);
            justify-self: center;
            align-items: start;
            text-align: left;

            @include laptop {
                align-items: center;
                text-align: center;
            }
        }
    }


    &__soc1als {}


    &__legal-info {
        &-list {
            display: flex;
            flex-direction: column;
            align-items: start;
            row-gap: rem(10);

            @include laptop {
                align-items: center;
            }
        }
    }

    &__support {
        &-list {
            display: flex;
            flex-direction: column;
            align-items: start;
            row-gap: rem(10);

            @include laptop {
                align-items: center;
            }
        }

        &-link {
            display: flex;
            align-items: center;
            column-gap: rem(8);
        }
    }

    &__contact-us {
        &-list {
            display: flex;
            flex-direction: column;
            align-items: start;
            row-gap: rem(10);

            @include laptop {
                align-items: center;
            }
        }
    }



    &__soc1als {
        .soc1als__list {
            @include laptop {
                align-items: center;
            }
        }
    }

    &__legal-info {
        .legal-info__list {
            @include laptop {
                align-items: center;
            }
        }
    }

    &__support {
        .support__list {
            @include laptop {
                align-items: center;


            }
        }
    }

    &__contact-us {
        .contact-us__list {}
    }
}