.form-account-creation {
  display: grid;
  grid-template-columns: 1fr;
}
.form-account-creation__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.25rem;
}
.form-account-creation__row .input {
  width: 100%;
}
.form-account-creation__button {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}
.form-account-creation__form-footer {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}
@media (width <= 30.06125rem) {
  .form-account-creation__form-footer {
    align-items: center;
  }
}
.form-account-creation__terms {
  font-size: 1rem;
  color: var(--color-dark-pink-opacity-70);
}
@media (width <= 30.06125rem) {
  .form-account-creation__terms {
    text-align: center;
  }
}
.form-account-creation__consent-label {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3125rem;
}
.form-account-creation__consent-label:hover .form-account-creation__custom-checkbox, .form-account-creation__consent-label:hover .form-account-creation__checkbox-label {
  border-color: var(--color-accent);
  color: var(--color-accent);
  transition-duration: var(--transition-duration);
}
.form-account-creation__real-checkbox {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
.form-account-creation__real-checkbox:checked + .form-account-creation__custom-checkbox::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  scale: 1;
}
.form-account-creation__real-checkbox:focus + .form-account-creation__custom-checkbox {
  outline: auto;
}

.account-creation__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dark-light);
  border-radius: var(--border-radius-large);
  margin-top: 1.875rem;
}
.account-creation__inner {
  padding-block: 1.25rem;
}
.account-creation__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 33.75rem;
}
.account-creation__body-and {
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  column-gap: 0.625rem;
  margin-bottom: 1.25rem;
  width: 100%;
}
.account-creation__body-and::before, .account-creation__body-and::after {
  content: "";
  flex-basis: 15rem;
  flex-grow: 1;
  height: 0.0625rem;
  background-color: var(--color-accent);
}
.account-creation__logo {
  margin-bottom: 1.25rem;
}
.account-creation__title {
  margin-bottom: 2.5rem;
}
.account-creation__form {
  max-width: 33.75rem;
}

.auth-social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.25rem;
  margin-bottom: 1.25rem;
  min-width: 100%;
}
@media (width <= 47.99875rem) {
  .auth-social {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.auth-social__link {
  padding-inline: calc(6.875rem - 0.0625rem);
  padding-block: calc(0.625rem - 0.0625rem);
  border-color: var(--color-dark);
}
@media (width <= 47.99875rem) {
  .auth-social__link {
    min-width: 100%;
  }
}
@media (any-hover: hover) {
  .auth-social__link:hover {
    border-color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .auth-social__link:active {
    border-color: var(--color-accent);
  }
}

/*# sourceMappingURL=account%D0%A1reation.css.map */
