@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Убираем скачок интерфейса по горизонтали
   при появлении / исчезновении скроллбара
  */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts//OpenSans-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-accent: #986ADB;
  --color-accent-opacity-15: rgba(152, 106, 219, 0.15);
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --color-dark-light: #F4F4F4;
  --color-light-purple: #EDE1FF;
  --color-dark-pink: #524753;
  --color-dark-pink-opacity-70: rgba(82, 71, 83, 0.7);
  --color-orange: #FA8863;
  --border: 0.0625rem solid var(--color-accent);
  --border-radius-large: 3.125rem;
  --border-radius-small: 1.25rem;
  --shadow-main: 0 0 10px 1px rgba(0, 0, 0, 0.03);
  --shadow-small: 0 0 10px 1px rgba(0, 0, 0, 0.03);
  --shadow-button-profile: 0 0 15px 1px rgba(0, 0, 0, 0.08);
  --font-family-base: "Montserrat", sans-serif;
  --font-family-accent: "Open Sans", sans-serif;
  --container-width: 87.5rem;
  --container-padding-x: 5rem;
  --button-height: 3.75rem;
  --input-height: 3.75rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
@media (width <= 63.99875rem) {
  .container {
    --container-padding-x: 1.875rem;
  }
}
@media (width <= 47.99875rem) {
  .container {
    --container-padding-x: 0.625rem;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  color: var(--color-dark-pink);
  font-family: var(--font-family-base);
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
@media (width <= 90.06125rem) {
  .main {
    row-gap: 1.875rem;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-dark-pink);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
h6 {
  font-weight: 700;
  font-family: var(--font-family-accent);
}

h1,
.h1 {
  font-size: clamp(1.875rem, 1.1580882353rem + 2.9411764706vw, 4.6875rem);
  line-height: 108%;
}

h2,
.h2 {
  font-size: clamp(1.5625rem, 1.3235294118rem + 0.9803921569vw, 2.5rem);
  line-height: 1.3;
}

h3,
.h3 {
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
}

h4,
.h4 {
  font-size: clamp(1rem, 0.9681372549rem + 0.1307189542vw, 1.125rem);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

.accent-color {
  color: var(--color-accent);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-inline: calc(2.75rem - 0.0625rem);
  padding-block: calc(1.3125rem - 0.0625rem);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 100%;
  white-space: nowrap;
  color: var(--color-dark);
  border-radius: var(--border-radius-large);
  border: var(--border);
}
@media (any-hover: hover) {
  .button:hover {
    background-color: var(--color-accent);
    color: var(--color-light);
  }
}
@media (any-hover: none) {
  .button:active {
    background-color: var(--color-accent);
    color: var(--color-light);
  }
}
@media (width <= 63.99875rem) {
  .button {
    padding-inline: calc(1.5625rem - 0.0625rem);
    padding-block: calc(1.1875rem - 0.0625rem);
  }
}
@media (width <= 47.99875rem) {
  .button {
    font-size: 1rem;
    padding-inline: calc(1.125rem - 0.0625rem);
    padding-block: calc(1.0625rem - 0.0625rem);
  }
}
.button--accent {
  color: var(--color-light);
  background-color: var(--color-accent);
}
@media (any-hover: hover) {
  .button--accent:hover {
    border-color: var(--color-accent);
    background: transparent;
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .button--accent:active {
    border-color: var(--color-accent);
    background: transparent;
    color: var(--color-accent);
  }
}
.button--transparent {
  border: var(--border);
  background-color: transparent;
}

.burger-button {
  width: 2.125rem;
  height: 2.125rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.375rem 0.125rem;
  color: var(--color-dark-pink);
  background-color: transparent;
  border: none;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-accent);
  }
}
.burger-button__line {
  width: 100%;
  height: 0.25rem;
  border-radius: var(--border-radius-small);
  background-color: currentColor;
  transition-duration: var(--transition-duration);
}

.field__input {
  padding-left: 0.9375rem;
  padding-block: calc(1.1875rem - 0.0625rem);
  border: var(--border);
  border-color: var(--color-dark);
  border-radius: var(--border-radius-large);
  height: var(--input-height);
  background: var(--color-light);
  width: 100%;
  margin-bottom: 0.625rem;
}
.field__input:focus {
  outline: none;
  background: var(--color-accent);
  color: var(--color-light);
  border-color: var(--color-dark-pink);
}
.field__input:focus::placeholder {
  color: var(--color-light);
}
@media (any-hover: hover) {
  .field__input:hover {
    border-color: var(--color-accent);
    outline: none;
  }
}
@media (any-hover: none) {
  .field__input:active {
    border-color: var(--color-accent);
    outline: none;
  }
}
.field__label {
  display: block;
  margin-left: 0.9375rem;
  margin-bottom: 0.3125rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 1.5625rem;
  height: 1.5625rem;
  border: 0.0625rem solid var(--color-dark);
  border-radius: 0.3125rem;
}
.custom-checkbox::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  scale: 0;
  position: absolute;
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.625rem;
  background: url("../assets/icons/check.svg") no-repeat center/contain;
  transition-duration: var(--transition-duration);
}

.header {
  padding-top: 1.875rem;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width > 47.99875rem) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.1875rem;
    padding: 1rem;
    background-color: var(--color-dark-pink);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu-list {
  display: flex;
  column-gap: 2.9375rem;
  align-items: center;
  font-weight: 600;
}
@media (width <= 90.06125rem) {
  .header__menu-list {
    column-gap: 2.1875rem;
  }
}
@media (width <= 63.99875rem) {
  .header__menu-list {
    column-gap: 1.875rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    color: var(--color-light);
    flex-direction: column;
    row-gap: 0.75rem;
  }
}
.header__menu-link {
  display: inline-flex;
  align-items: center;
  height: 2.5rem;
  position: relative;
}
.header__menu-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  border-radius: 0.125rem;
  background-color: currentColor;
  top: calc(100% - 0.5rem);
  left: 50%;
  translate: -50%;
  opacity: 0;
  transition-duration: inherit;
}
@media (any-hover: hover) {
  .header__menu-link:hover::after {
    width: 20%;
    opacity: 1;
  }
}
@media (any-hover: none) {
  .header__menu-link:active::after {
    width: 20%;
    opacity: 1;
  }
}
.header__menu-link.is-active {
  position: relative;
  color: var(--color-accent);
}
.header__menu-link.is-active::after {
  opacity: 1;
  width: 20%;
}
.header__link {
  padding-inline: calc(1.5625rem - 0.0625rem);
}
@media (width <= 47.99875rem) {
  .header__link {
    padding-inline: calc(1.125rem - 0.0625rem);
    padding-block: calc(1.0625rem - 0.0625rem);
  }
}

.soc1als__list {
  display: flex;
  column-gap: 0.5rem;
}

.hero__main {
  margin-top: 5rem;
}
@media (width <= 90.06125rem) {
  .hero__main {
    margin-top: 3.75rem;
  }
}
@media (width <= 47.99875rem) {
  .hero__main {
    margin-top: 2.5rem;
  }
}
.hero__body {
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
}
@media (width <= 90.06125rem) {
  .hero__body {
    row-gap: 1.25rem;
  }
}
.hero__title {
  max-width: 44.375rem;
}
.hero__buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  column-gap: 0.625rem;
  row-gap: 0.625rem;
}
.hero__soc1als {
  margin-top: 5rem;
}
@media (width <= 90.06125rem) {
  .hero__soc1als {
    margin-top: 3.75rem;
  }
}
@media (width <= 47.99875rem) {
  .hero__soc1als {
    margin-top: 2.1875rem;
  }
}
.security-and-privacy__body {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  align-items: center;
}
@media (width <= 90.06125rem) {
  .security-and-privacy__body {
    row-gap: 1.875rem;
  }
}
.security-and-privacy__title {
  text-align: center;
}
.security-and-privacy__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  width: 100%;
}
@media (width <= 63.99875rem) {
  .security-and-privacy__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.9375rem;
  }
}
@media (width <= 47.99875rem) {
  .security-and-privacy__list {
    gap: 0.75rem;
  }
}
.security-and-privacy__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  row-gap: 0.9375rem;
  width: 100%;
  max-width: 33.5rem;
}
.security-and-privacy__list-item:first-child {
  justify-self: center;
  grid-column: 1/-1;
}
.security-and-privacy__list-item:nth-child(2) {
  justify-self: start;
}
.security-and-privacy__list-item:nth-child(3) {
  justify-self: end;
}
.security-and-privacy__list-item svg {
  flex-shrink: 0;
}
@media (width <= 47.99875rem) {
  .security-and-privacy__list-item svg {
    width: 3.125rem;
    height: 3.125rem;
  }
}
@media (width <= 63.99875rem) {
  .security-and-privacy__list-item {
    row-gap: 0.5rem;
  }
  .security-and-privacy__list-item:first-child {
    justify-self: center;
  }
  .security-and-privacy__list-item:nth-child(2) {
    justify-self: center;
  }
  .security-and-privacy__list-item:nth-child(3) {
    justify-self: center;
  }
}
@media (width <= 47.99875rem) {
  .security-and-privacy__list-item {
    row-gap: 0.3125rem;
  }
}
.security-and-privacy__list-item-body {
  display: contents;
}

.find__main {
  margin-bottom: 2.5rem;
}
@media (width <= 90.06125rem) {
  .find__main {
    margin-bottom: 1.875rem;
  }
}
.find__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5rem;
}
@media (width <= 90.06125rem) {
  .find__body {
    row-gap: 1.875rem;
  }
}
.find__title {
  text-align: center;
  max-width: 43.75rem;
}
.find__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.375rem;
}
@media (width <= 90.06125rem) {
  .find__list {
    gap: 1.25rem;
  }
}
@media (width <= 63.99875rem) {
  .find__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.find__item {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  max-width: 28.25rem;
}
.find__item-body {
  display: contents;
}

.footer {
  background: var(--color-dark-light);
}
.footer__body {
  padding-block: 11.5625rem;
}
@media (width <= 90.06125rem) {
  .footer__body {
    padding-block: 8.75rem;
  }
}
@media (width <= 63.99875rem) {
  .footer__body {
    padding-block: 6.25rem;
  }
}
@media (width <= 47.99875rem) {
  .footer__body {
    padding-block: 5rem;
  }
}
@media (width <= 30.06125rem) {
  .footer__body {
    padding-block: 3.75rem;
  }
}
.footer__menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (width <= 63.99875rem) {
  .footer__menu {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.875rem;
  }
}
@media (width <= 30.06125rem) {
  .footer__menu {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1.25rem;
  }
}
.footer__menu-column {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
  justify-self: center;
  align-items: start;
  text-align: left;
}
@media (width <= 90.06125rem) {
  .footer__menu-column {
    align-items: center;
    text-align: center;
  }
}
.footer__legal-info-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 0.625rem;
}
@media (width <= 90.06125rem) {
  .footer__legal-info-list {
    align-items: center;
  }
}
.footer__support-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 0.625rem;
}
@media (width <= 90.06125rem) {
  .footer__support-list {
    align-items: center;
  }
}
.footer__support-link {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.footer__contact-us-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 0.625rem;
}
@media (width <= 90.06125rem) {
  .footer__contact-us-list {
    align-items: center;
  }
}
@media (width <= 90.06125rem) {
  .footer__soc1als .soc1als__list {
    align-items: center;
  }
}
@media (width <= 90.06125rem) {
  .footer__legal-info .legal-info__list {
    align-items: center;
  }
}
@media (width <= 90.06125rem) {
  .footer__support .support__list {
    align-items: center;
  }
}
.account-creation__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dark-light);
  border-radius: var(--border-radius-large);
  margin-top: 1.875rem;
}
.account-creation__inner {
  padding-block: 1.25rem;
}
.account-creation__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 33.75rem;
}
.account-creation__body-and {
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
  width: 100%;
}
.account-creation__body-and::before, .account-creation__body-and::after {
  content: "";
  flex-basis: 15rem;
  flex-grow: 1;
  height: 0.0625rem;
  background-color: var(--color-accent);
}
.account-creation__logo {
  margin-bottom: 1.25rem;
}
.account-creation__title {
  margin-bottom: 2.5rem;
}
.account-creation__form {
  max-width: 33.75rem;
}

.auth-social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.25rem;
  margin-bottom: 1.25rem;
  min-width: 100%;
}
@media (width <= 47.99875rem) {
  .auth-social {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.auth-social__link {
  padding-inline: calc(6.875rem - 0.0625rem);
  padding-block: calc(0.625rem - 0.0625rem);
  border-color: var(--color-dark);
}
@media (width <= 47.99875rem) {
  .auth-social__link {
    min-width: 100%;
  }
}
@media (any-hover: hover) {
  .auth-social__link:hover {
    border-color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .auth-social__link:active {
    border-color: var(--color-accent);
  }
}

.form-account-creation {
  display: grid;
  grid-template-columns: 1fr;
}
.form-account-creation__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.25rem;
}
.form-account-creation__row .input {
  width: 100%;
}
.form-account-creation__button {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}
.form-account-creation__form-footer {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}
@media (width <= 30.06125rem) {
  .form-account-creation__form-footer {
    align-items: center;
  }
}
.form-account-creation__terms {
  font-size: 1rem;
  color: var(--color-dark-pink-opacity-70);
}
@media (width <= 30.06125rem) {
  .form-account-creation__terms {
    text-align: center;
  }
}
.form-account-creation__consent-label {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3125rem;
}
.form-account-creation__consent-label:hover .form-account-creation__custom-checkbox, .form-account-creation__consent-label:hover .form-account-creation__checkbox-label {
  border-color: var(--color-accent);
  color: var(--color-accent);
}
.form-account-creation__real-checkbox {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
.form-account-creation__real-checkbox:checked + .form-account-creation__custom-checkbox::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  scale: 1;
}

/*# sourceMappingURL=main.css.map */
