@use 'helpers/index' as *;

:root {
    --color-accent: #9769d9;
    --color-red: red;
    --color-accent-opacity-15: rgba(152, 106, 219, 0.15);
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-dark-light: #F4F4F4;
    --color-light-purple: #EDE1FF;
    --color-dark-pink: #524753;
    --color-dark-pink-opacity-70: rgba(82, 71, 83, 0.7);
    --color-orange: #FA8863;

    --border: #{rem(1)} solid var(--color-accent);
    --border-radius-large: #{rem(50)};
    --border-radius-small: #{rem(20)};

    --shadow-main: 0 0 10px 1px rgba(0, 0, 0, 0.03);
    --shadow-small: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    --shadow-button-profile: 0 0 15px 1px rgba(0, 0, 0, 0.08);

    --font-family-base: 'Montserrat', sans-serif;
    --font-family-accent: 'Open Sans', sans-serif;
    --container-width: #{rem(1400)};
    --container-padding-x: #{rem(80)};

    --button-height: #{rem(60)};
    --button-height-large:  #{rem(70)};
    --input-height: #{rem(60)};

    --transition-duration: 0.2s;
}